*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    color:#fff;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

#container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:2vh;
    transition:transform 1s linear;
}

/* 年号 */
#year{
    font-size:8vh;
    color:white;
    font-weight:bold;
    margin-bottom:1vh;
}

/* 日付 */
#date{
    font-size:23vh;
    font-weight:bold;
    color:#ffff00;
    text-align:center;
    line-height:1.0;
    margin-bottom:1vh;
}

/* 時間エリア */
#timeArea{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    gap:3vw;
    margin-bottom:3vh;
}

/* 午前・午後 */
#ampm{
    font-size:10vh;
    color:white;
    font-weight:bold;
    padding-bottom:2vh;
}

/* 時刻 */
#time{
    font-size:20vh;
    color:#00ff00;
    font-weight:bold;
    line-height:1;
}

/* メッセージ欄 */
#messageArea{
    min-height:12vh;
    width:92%;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:2vw;

    border-radius:20px;
}

/* 18:00など */
#messageTime{
    font-size:8vh;
    font-weight:bold;
    color:#ff9900;
}

/* メッセージ本文 */
#messageText{
    font-size:7vh;
    font-weight:bold;
    color:white;
    text-align:center;
}

/* 非表示 */
.hidden{
    visibility:hidden;
}
